* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}

:root {
    --gradient: linear-gradient(45deg,
            #845ec2,
            #d65db1,
            #ff6f91,
            #ff9671,
            #ffc75f,
            #f9f871);
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(243, 242, 243);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar .search-dropdown-container {
    display: flex;
    align-items: center;
}

.navbar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

.navbar label {
    margin-right: 10px;
}

.navbar .select-month-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav {
    width: 600px;
    height: 60px;
    background-color: white;
    display: flex;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-evenly;
    right: 50px;
}

@keyframes btn-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.nav-btn {
    border: none;
    background-color: rgb(142, 68, 168);
    color: white;
    padding: 8px 1px;
    border-radius: 4px;
    width: 105px;
    font-size: 16px;
    /* font-weight: 600; */
    transition: transform 1s;
}

.nav-btn:hover {
    cursor: pointer;
    background-image: var(--gradient);
    transform: translate3d(3px, 3px, 3px);
    animation: btn-animation 5s 2 infinite;

}

.select-month-label {
    display: flex;
    align-items: center;
}

.select-month-label select {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #3498db;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.select-month-label select:hover {
    border-color: #2980b9;
}

.select-month-label select:focus {
    outline: none;
    border-color: #2980b9;
    color: #2980b9;
}

.select-month-label button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    transition: background-color 0.3s ease;
}

.select-month-label button:hover {
    background-color: #27ae60;
}


.search-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #e74c3c;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #c0392b;
  }
  
  .search-input::placeholder {
    color: #bdc3c7;
  }
  
  .search-input:hover::placeholder,
  .search-input:focus::placeholder {
    color: #7f8c8d;
  }
  