.pagination-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}
.table-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
