/* Update your .statistics-container class */

.statistics-container {
  margin: 20px;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #3498db; /* Change border color to a shade of blue */
  border-radius: 10px; /* Increase border radius for a rounded appearance */
  background-color: #ecf0f1; /* Set a light background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style for table */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #3498db; /* Match border color with the container */
  padding: 12px; /* Increase padding for better spacing */
  text-align: left;
}

th {
  background-color: #2980b9; /* Change background color for header */
  color: #fff; /* Set text color to white */
}

/* Optional: Add hover effect to table rows for better interactivity */

tr:hover {
  background-color: #b4cbe4; /* Lighter background color on hover */
  transition: background-color 0.3s ease-in-out;
}

.stats-heading{
  border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px ;
    width: fit-content;
}

.stats-heading:hover{
  background-color: #2ecc71;
  color: white;
  border: none;
}
